.html{
    scroll-behavior: smooth;
}
*, *::after, *::before{
    box-sizing: border-box;
    }
.font{
    font-family: 'Red Hat Mono', monospace;
}    
.header{
    height: 60px;
    background-color: white;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 10px 0px black;
    
}
.container{
    width: 90%;
    margin: 0px auto;
    min-height: 100%;
    
    
}

.logo-link{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    z-index: 0;
}
.logo-link span{
    color: green;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    width: 70%;
}
.menu-link{
    color: black;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;

    
}
.btn{
    position: relative;
    z-index: 99999;
}
.bottom1{
    margin-top: 225px;
    border: 3px solid green;
    position: absolute;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 16px;
    color: black;
    font-weight: bold;
    width: 200px;
    height: 40px;
}
.bottom{
    border: 3px solid green;
    position: absolute;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 16px;
    color: black;
    font-weight: bold;
    width: 200px;
    height: 40px;
    margin-top: 50px;

    
}
.bottom1:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: green;
    transition-duration: 1s;
    
}
.bottom:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: green;
    transition-duration: 1s;
    
}
.bottom1:active{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.bottom:active{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.section{
    height: 100vh;
    padding-top: 60px;
}
.about-foto{
    width: 30%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
    z-index: 999999;
    background-image: url(../IMG/about1.png);
}
.about-foto::before{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    top:-20px;
    left:-20px;
    content:'';
    
    border:3px double green;
    
    
}

.about-text{
    font-weight: bold;
}
.about-head{
    text-transform: uppercase;
    font-size: 20px;
}
.about-head span{
    color: lightgreen;
}
#home{
    background-image: url(../IMG/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about{
    
}
#works{
    background-image: url(../IMG/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
#contacts{
    color: aliceblue;
    height: 95vh;
}
.footer{
    height: 5vh;
    background-color: aliceblue;
    text-align: center;
    font-weight: 700;
}
.lol{
    width: 90%;
    margin: 0px auto;
}
.lol-img{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.image{
    width: 30%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
     

}
.image:nth-child(1) {
    background-image: url("../IMG/project1.png");
}

.image:nth-child(2) {
    background-image: url("../IMG/project2.png");
}

.image:nth-child(3) {
    background-image: url("../IMG/project3.png");
}
.image:nth-child(1):before {
    content:"!";
    background-color: green;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: +100%;
    left: 0px;
    transition-property: all;
    transition-duration: 0.7s;
    
    
}

.image:nth-child(2):before {
    content:"!";
    background-color: green;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: -100%;
    transition-property: all;
    transition-duration: 0.7s;
}

.image:nth-child(3):before {
    content:"!";
    background-color: green;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: +100%;
    transition-property: all;
    transition-duration: 0.7s;
}

.image:hover::before {
top: 0px;
left: 0px;
}
.info{
    font-size: 25px;
    font-weight: 700;
    color: black;
    width: 30%;
    
}
.map{
    width: 70%;
    height: 70vh;
    border: 5px solid green;
}


